body {
    margin: 0 auto;
    background-color: antiquewhite;
    max-width: 100%;
}

nav {
    max-width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    gap: 40px;
    font-size: 20px;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: black;
}

.grid-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
}

.grid-item {
    padding: 22px;
}

.it1 {
    background-color: rgb(241, 192, 127);
    align-content: center;
}

.banner {
    background: url('./imagenes/donuts-8962349_1280.webp') no-repeat center center;
    background-size: cover;
    padding: 20px;
    text-align: center;
    margin-left: 15px;
}

.logo {
    padding-left: 50px;
    padding-top: 3px;
}

.flex-container {
    max-width: 100%;
    flex-flow: row nowrap;
    display: flex;
    height: 550px;
}

.items {
    width: 100%;
    background-color: rgb(169, 204, 227);
}

.i1 {
    background-color: rgb(230, 160, 137);
    max-width: 100%;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.btn {
    padding: 20px;
    background-color: rgb(230, 126, 34);
    font-size: 20px;
}

.btn a {
    text-decoration: none;
    color: white;
}

.slide {
    height: 400px;
    display: grid;
    grid-template-columns: 34% 34% 22% 10%;
    background-color: orange;
}

.itemm {
    background-color: rgb(186, 193, 207);
    text-align: center;
    align-content: center;
    animation: cambio 4s infinite normal;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    50% {
        margin-left: -300%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

.grid-containers {
    display: grid;
    flex-direction: row;
    grid-template-columns: auto auto;
}

.grid-iitem {
    text-align: center;
    height: 330px;
    padding-top: 20px;
}

footer {
    background-color: #747171;
    color: #fff;
    padding-top: 30px;
}

.footer-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-section {
    width: 30%;
}

.footer-section h3 {
    color: #fff;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ddd;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
}

.social-icons a {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #ddd;
}