body {
    margin: 0 auto;
    background-color: antiquewhite;
    max-width: 100%;
}

nav {
    max-width: 100%;
    gap: 15px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    font-size: 20px;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: black;
}

.grid-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
}

.grid-item {
    padding: 22px;
}

.it1 {
    background-color: rgb(241, 192, 127);
    align-content: center;
}

.banner {
    background: url('./imagenes/donuts-8962349_1280.webp') no-repeat center center;
    background-size: cover;
    padding: 20px;
    text-align: center;
    margin-left: 15px;
}

h2 {
    font-style: normal;
    font-size: 30px;
}

.logo {
    padding-left: 70px;
    padding-top: 3px;
}

.flex-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(77, 108, 129);
    justify-content: flex-start;
    padding: 20px;
    height: 900px;
}

footer {
    background-color: #747171;
    color: #fff;
    padding-top: 15px;
    height: auto;
}

.footer-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-section {
    width: 30%;
}

.footer-section h3 {
    color: #fff;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ddd;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
}



.social-icons a {
    color: #fff;
    margin-right: 15px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #ddd;
}
